<div data-ng-controller="plugin-filterButtons.controllers.filterbuttonsStylerController">

    <!--    Filter Behavior   -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="checker-pane-holder">
                <div class="checker-pane-title">Filter Behavior</div>
            </div>
            <div class="type-holder">
                <div data-ng-repeat="setting in ['Clear All Filters', 'Add/Union']"
                     data-ng-class="{ selected: setting == model.filterSetting}"
                     data-ng-click="changeFilterSetting(setting)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: setting == model.filterSetting}"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{setting}}</div>
                </div>
            </div>

        </div>
    </div>

    <!--    Flexbox Alignment   -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="checker-pane-holder">
                <div class="checker-pane-title">ALIGNMENT</div>
            </div>
            <div class="type-holder">
                <div data-ng-repeat="align in [{'name':'left','value': 'flex-start'}, {'name':'right','value': 'flex-end'}, {'name':'center','value': 'center'}, {'name':'Space Between','value': 'space-between'}, {'name':'Space Around','value': 'space-around'}, {'name':'Space Evenly','value': 'space-evenly'}]"
                     data-ng-class="{ selected: align == model.align}"
                     data-ng-click="changeAlign(align.value)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: align.value == model.align}"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{align.name}}</div>
                </div>
            </div>

        </div>
    </div>

    <!--    Gravity Slider  -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Text Size</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="8"
                                 data-max="40"
                                 data-step="2"
                                 data-value="model.textSize"
                                 data-trigger="change"
                                 data-on-release="refreshWidget()"></data-slider>
                </div>
            </div>        
        </div> 
    </div>
</div>