
/*  Widget body   */
filterbuttons {
  overflow-y:scroll;
}

/*  Wrapper around everything   */
.filterButtonWrapper
{
  margin:0.2em;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items:space-around;
}
/*  Container for all filter buttons     */
.filterButtonContainer
{
  /*  flex: 1 1 auto;  */
  overflow-y: auto;
  min-height: 0px;
}

/*  Div for each filter button    */
.filterButtonDiv
{
  position:relative;
  margin: 0.5em;
  display:inline-block;
  background-size:cover;
  transition: all 0.4s ease-out;
  overflow:hidden;
  font-family:'Roboto';
  border: 0;
  border-radius: 4px;
}
.filterButtonDiv:hover
{
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}

.filterButtonDiv:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.filterButtonDiv button
{
  cursor:pointer;
}