<div class="filterButtonWrapper" style="justify-content: {{widget.style.align}};" data-ng-controller="plugin-filterButtons.controllers.filterbuttonsController" >
	<div class="filterButtonContainer">
		<div class="filterButtonDiv" data-ng-repeat="button in buttons">
			<button data-ng-click="clicked(button,widget)" 
				style="background-color: {{button.backgroundColor}}; color: {{button.textColor}}; font-size:{{button.style.textSize}}px; text-decoration: {{button.isSelected ? 'underline' : 'none' }};">
	            <span>{{button.label}}</span>
	        </button>
		</div>
	</div>
</div>

		